
.test-container {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@container (min-width: 640px) {
  .test-container .test-child {
    text-decoration: underline;
  }
}
